################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GlobalBackButtonTemplate/obj
/GlobalBackButtonTemplate/.vs/GlobalBackButtonTemplate
/.vs
